@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Twitter: <a href="https://twitter.com/srihari_sr">srihari_sr</a><br />
    Github: <a href="https://github.com/srihari-sridharan">srihari-sridharan</a><br />
    <abbr title="Phone">P:</abbr>
    995.202.2210
</address>
<address>
    <strong>Gmail:</strong>   <a href="mailto:srihari.sridharan.r@gmail.com">srihari.sridharan.r@gmail.com</a><br />
    <strong>Windows Live:</strong> <a href="mailto:srihari.sridharan@live.com">srihari.sridharan@live.com</a>
</address>