<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskMonitor.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>D:\Tasks\</value>
            </setting>
            <setting name="Label" serializeAs="String">
                <value>Please enter the tasks performed after last update:</value>
            </setting>
            <setting name="FolderFormat" serializeAs="String">
                <value>yyyy-MM</value>
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="MessageBoxTitle" serializeAs="String">
                <value>Task Monitor</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MM-yy</value>
            </setting>
            <setting name="DayFormat" serializeAs="String">
                <value>dddd</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>h:mm:ss tt</value>
            </setting>
            <setting name="LastTaskFileName" serializeAs="String">
                <value>Task.bin</value>
            </setting>
        </TaskMonitor.Properties.Settings>
    </userSettings>
</configuration>