<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span10">
        <img src="lib/common/walmart_logo.png" />
            <section id="viewSection">
                <h2>
                    View Delivery</h2>
                <br />
                <section id="delivery">
       			 This contains all the view fields!
    			</section>
            </section>
            <br />
            <section id="dateSection">
                <section id="dateTime">
				 This contains the date view options!
				</section>
            </section>
            <br />
            <section id="printSection">
                <section id="printOptions">
			        This contains the print view options!
			    </section>
            </section>
            <br />
            <section id="purchaseOrderSection">
                <section id="purchaseOrderOptions">
			        This contains the view of purchase order details!
			    </section>
            </section>
            <br />
        </div>
        <div class="span1">
            <!--Sidebar content-->
        </div>
    </div>
</div>