<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <!--Sidebar content-->
        </div>
        <div class="span10">
        <img src="lib/common/walmart_logo.png" />
            <section id="searchSection">
                <h2>
                    Search Delivery</h2>
                <br />
                <section id="searchOptions">
                This contains the search filters!
            </section>
            </section>
            <br />
            <section id="printSection">
                <section id="printOptions">
                This contains the print options!
            </section>
            </section>
            <hr />
            <section id="deliverySection">
                <section id="deliveryDetails">
                This contains the delivery items fetched!
            </section>
            </section>
            <br />
        </div>
        <div class="span1">
            <!--Sidebar content-->
        </div>
    </div>
</div>