<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\TaskManager.Common\packages.config" />
  <repository path="..\src\TaskManager.Data.SqlServer\packages.config" />
  <repository path="..\src\TaskManager.Data\packages.config" />
  <repository path="..\src\TaskManager.Web.Api\packages.config" />
  <repository path="..\src\TaskManager.Web.Common\packages.config" />
</repositories>