<configuration>
  <components>
    <!--Register the logging interceptor-->
    <component id="LoggingInterceptor" service="AOP.Interceptor.LoggingInterceptor, AOP.Interceptor"
               type="AOP.Interceptor.LoggingInterceptor, AOP.Interceptor" />
    <!--Register the type and its interface-->
    <component id="ITask" service="AOP.Interceptor.ITask, AOP.Interceptor" type="AOP.Interceptor.Task, AOP.Interceptor">
      <!--This section defines the list of interceptors-->
      <interceptors>
        <interceptor>${LoggingInterceptor}</interceptor>
      </interceptors>
    </component>
  </components>
</configuration>