<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <!--Sidebar content-->
        </div>
        <div class="span10">
        <img src="lib/common/walmart_logo.png" />
            <section id="dataEntrySection">
                <h2>
                    Create Delivery</h2>
                <br />
                <section id="dataEntry">
                This contains the data entry fields!
                </section>
                <br />
            </section>
            <section id="dateSection">
                <section id="dateTimeEntry">
                    This contains the print options!
                </section>
            </section>
            <hr />
            <section id="purchaseOrderSection">
                <section id="purchaseOrderDetails">
                    This contains the purchase order fetched!
                </section>
            </section>
        </div>
        <div class="span1">
            <!--Sidebar content-->
        </div>
    </div>
</div>