<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WCFSample.Service1">
        <endpoint address="net.tcp://localhost:8071/MyService" binding="netTcpBinding" bindingConfiguration="TCPBinding" name="NetTcp" contract="WCFSample.IService1"/>
        <!-- Http Binding-->
        <endpoint address="http://localhost:8072/MyService" binding="wsDualHttpBinding" name="Http_ReturnStorageService" contract="WCFSample.IService1"/>
        <!-- Http Binding-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8071/MyService"/>
            <add baseAddress="http://localhost:8072/MyService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TCPBinding" transactionFlow="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
