use master;
GO

CREATE DATABASE [TaskMonitorDB]
 ON  PRIMARY 
( NAME = N'TaskMonitorDB', FILENAME = N'D:\Task Monitor\TaskMonitorDB.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskMonitorDB_log', FILENAME = N'D:\Task Monitor\TaskMonitorDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [TaskMonitorDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [TaskMonitorDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
